
	<p id="notice"><%= flash[:notice] %></p>
	<h1>30分プレイリスト<span class="small">　ThirtyPlayList</span></h1>
	本システムは毎日、継続的に勉強したい人を支援します。<br>
	以下から、作りたいプレイリストの総合時間を選択してください！
	<div id="thirty_min"><a href="/detect/2">30min</a></div>
	<div class="else-min"><a href="/detect/1">15min</a></div>
	<div class="else-min"><a href="/detect/3">45min</a></div>
	<div class="else-min"><a href="/detect/4">60min</a></div>

	<br><br><br>
<div id="introduction">
  <h2>システム紹介<span class="small">　introduction</span></h2>
	<p>
	  言わずとも、なにかを勉強してマスターするには多くの時間がかかります。しかし、社会人でしたらお仕事、学生でしたら課題や予習復習などがあり、自由な時間は限られています。ですので、マスターしたければ毎日コツコツ勉強しなければならないのだと私は思います。
		ですが、毎日やることは簡単なことでしょうか？私の場合、簡単なことではありませんでした。想像以上に身の回りには誘惑が転がっており、気が移ってしまいました。そんな時、解決策の一つは、「ルールを作る」である、私はそう思います。
		そう、このシステムが提供するのはまさにその「ルール」というもので、そしてそのルールとは<b>「音楽がなっている、あいだは必ず勉強する」</b>というものです。
	</p>
	<p>
	本システムは、各曲すべて合わせた合計再生時間が約15分になるようなプレイリストをまず生成します。そしてその15分プレイリストを組み合わせ、30分、45分、60分プレイリストに組み上げます。このようにすることで、再生時間が分かっているプレイリストが完成します。つまり、このプレイリストは<b>「タイマー」</b>としての役割を果たします。一日30分勉強する、ということなら上記の"30min"のボタンを押し、出てきた音楽が鳴っているあいだ勉強すればいいのです。
	</p>
	<p>
	本システムの強みはこれだけではありません。約15分になるようにするプレイリストの最後の曲は必ずある固定の曲になるようにしています。以下、ある固定の曲たちのことを<b>"キーソング(key_song)"</b>とします。このキーソングを覚えておくことで、「キーソングがなり始めたから、もうすぐ15分たつな！」また「もうすぐ30分経ってしまう！」などと<b>時間を直感的に認識させ、勉強をせかす効果</b>があると思われます。この効果が本システムの最大の特徴であります。
	</p>
	<p>
	キーソングはデフォルトでは勝手に設定されていますが、ユーザー独自に設定することができます。
	本システムはyoutube iframe APIを利用しているのでyoutubeの公開されている動画なら使用することができます。
	だたし、再生時間が0分～8分程度の曲でないとプレイリストが見つからない可能性があります。またキーソングは最大4つまで設定でき、それ以上設定すると古い順に消されていきます。
	設定方法は、youtubeのビデオIDを以下にあるフォームに入力し設定を押すことで完了します。
	ビデオIDとはたとえば<br>
	https://www.youtube.com/watch?v=b4VW1H_tcYM<br>
	というyoutubeの動画のURLの中の「v=」から後の"b4VW1H_tcYM"にあたる部分の文字のことです。
	<form action="/set" method="GET">
		<input type="text" name="video_id">
		<input type="submit" value="設定する">
	</form>
	</p>

	<!-- クッキーに保存されているkey_songを分かりやすく表示-->
	<% 4.times do |i| %>
	  <div class="key-song-show">
	  key_song<%= i+1 %>
	  <% if(@key_song_list[i]) %>
	    <%= image_tag 'key_song.png',alt:'設定済みkey_song', :class => 'key-song-img' %>
	    <span><%= @key_song_list[i] %></span><br><span><a href="/cookies_delete/<%= i %>">delete</a></span>
	  <% else %>
	    <%= image_tag 'key_song_default.png',alt:'デフォルトkey_song', :class => 'key-song-img' %>
	    <span>key_song<%= i+1 %>は未設定です。</span>
	  <% end %>
	  </div>
	<% end %>
</div>
